packages/
App/AutoFP.Gerencia.API/bin/
App/AutoFP.Gerencia.API/obj/
App/AutoFP.Infra.CrossCutting.Common/bin/
App/AutoFP.Infra.CrossCutting.Common/obj/
App/AutoFP.Infra.CrossCutting.Email/bin/
App/AutoFP.Infra.CrossCutting.Email/obj/
App/AutoFP.Infra.CrossCutting.EventLogger/bin/
App/AutoFP.Infra.CrossCutting.EventLogger/obj/
App/AutoFP.Infra.CrossCutting.Ioc/bin/
App/AutoFP.Infra.CrossCutting.Ioc/obj/
App/AutoFP.Infra.CrossCutting.Security/bin/
App/AutoFP.Infra.CrossCutting.Security/obj/
App/AutoFP.Infra.Data/bin/
App/AutoFP.Infra.Data/obj/
App/AutoFP.Loja.API/bin/
App/AutoFP.Loja.API/obj/
App/AutoFP.Loja.Crud.Application/bin/
App/AutoFP.Loja.Crud.Application/obj/
App/AutoFP.Loja.Crud.Domain/bin/
App/AutoFP.Loja.Crud.Domain/obj/
App/AutoFP.Loja.Crud.Infra.Data/bin/
App/AutoFP.Loja.Crud.Infra.Data/obj/
App/AutoFP.Infra.Crud.Data/bin/
App/AutoFP.Infra.Crud.Data/obj/
App/AutoFP.SharedKernel/bin/
App/AutoFP.SharedKernel/obj/